<% layout("/layouts/boilerplate") %>
<h1 class="col-6 offset-3">SignUp on Wanderlust</h1>
<div class="row mb-3">
    <div class="col-6 offset-3">
        <form action="/signUp" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" required class="form-control">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" name="email" required class="form-control">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" required class="form-control">
            </div>
            <button class="btn btn-success">SignUp</button>
        </form>
    </div>
</div>